In [1]:
import pandas as pd
import petl as etl

https://www.kaggle.com/open-source-sports/mens-professional-basketball?select=basketball_master.csv

In [2]:
data = pd.read_csv('./datasets/basketball_master.csv')

In [3]:
basketball_data = etl.fromdataframe(data)

In [4]:
basketball_data

+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName       | nameGiven | fullGivenName                   | nameSuffix | nameNick   | pos   | firstseason | lastseason | height | weight | college           | collegeOther        | birthDate  | birthCity        | birthState | birthCountry | highSchool              | hsCity                  | hsState   | hsCountry | deathDate    | race |
+=============+===========+===========+============+================+===========+=================================+============+============+=======+=============+============+========+========+===================+=====================+============+==================+============+==============+=========================+=========================+===========+===========+==============+======+
| 'abdelal01' | 'Alaa'    | 'Alaa'    |        nan | 'Abdelnaby'    |       nan |                             nan |        nan |        nan | 'F-C' |         0.0 |        0.0 |   82.0 |  240.0 | 'Duke'            |                 nan | '24/06/68' | 'Cairo'          |        nan | 'EGY'        | 'Bloomfield Senior'     | 'Bloomfield'            | 'NJ'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulka01' | 'Kareem'  | 'Kareem'  |        nan | 'Abdul-Jabbar' |       nan | 'Ferdinand Lewis Alcindor, Jr.' |        nan | 'Lew, Cap' | 'C'   |         0.0 |        0.0 |   85.0 |  225.0 | 'UCLA'            |                 nan | '16/04/47' | 'New York'       | 'NY'       | 'USA'        | 'Power Memorial'        | 'New York'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma01' | 'Mahdi'   | 'Mahdi'   |        nan | 'Abdul-Rahman' |       nan | 'Walter Raphael Hazzard, Jr.'   |        nan | 'Walt'     | 'G'   |         0.0 |        0.0 |   74.0 |  185.0 | 'UCLA'            | 'Santa Monica City' | '15/04/42' | 'Wilmington'     | 'DE'       | 'USA'        | 'Overbrook / Moton'     | 'Philadelphia / Easton' | 'PA / MD' | 'USA'     | '18/11/11'   | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma02' | 'Mahmoud' | 'Mahmoud' |        nan | 'Abdul-Rauf'   |       nan | 'Chris Wayne Jackson'           |        nan |        nan | 'G'   |         0.0 |        0.0 |   73.0 |  162.0 | 'Louisiana State' |                 nan | '09/03/69' | 'Gulfport'       | 'MS'       | 'USA'        | 'Gulfport'              | 'Gulfport'              | 'MS'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulta01' | 'Tariq'   | 'Tariq'   |        nan | 'Abdul-Wahad'  |       nan | 'Olivier Michael Saint-Jean'    |        nan |        nan | 'G-F' |         0.0 |        0.0 |   78.0 |  223.0 | 'San Jose State'  | 'Michigan'          | '03/11/74' | 'Maisons Alfort' |        nan | 'FRA'        | 'Lycee Aristide Briand' | 'Evreux'                |       nan | 'FRA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
...

In [18]:
basketball_data.nrows()

5061

#### For each pattern recorded, the pattern along with its count is returned
- The pattern aaa occurs first
- There are 5035 occurrences of the pattern aaa (presumably all nan)
- The pattern 'Aaaaa Aaaaa Aaaaaaa': 2, corresponds to Chris Wayne Jackson (there are two full given names which match this pattern)
- 'Aaaaaaa Aaaaaaa Aaaaa-Aaaa' corresponds to Olivier Michael Saint-Jean

In [5]:
etl.stringpatterncounter(basketball_data, 'fullGivenName')

Counter({'aaa': 5035,
         'Aaaaaaaaa Aaaaa Aaaaaaaa, Aa.': 1,
         'Aaaaaa Aaaaaaa Aaaaaaa, Aa.': 1,
         'Aaaaa Aaaaa Aaaaaaa': 2,
         'Aaaaaaa Aaaaaaa Aaaaa-Aaaa': 1,
         'Aaaaaa A. Aaaaa': 1,
         'Aaaaaa A. Aaaaaa': 1,
         'Aaaaa Aaaaaa Aaaaaaaa': 1,
         'Aaaaa Aaaaaaa. Aaaa': 1,
         'Aaaaa Aaaaaaaaaaa Aaaaaaaa': 1,
         'Aaaaaa Aaaaaa Aaaaaaaaa': 1,
         'Aaaa Aaaa': 1,
         'Aaaaaa Aaaaa': 1,
         'Aaaa Aaaaaaaaa aa A.A.': 1,
         'Aaaaa Aaaaa Aaaaaaaa': 1,
         'Aaaaaaa Aaaaa Aaaaaa': 1,
         'Aaaaaaa Aaaaaaaaa': 1,
         'Aa Aaaaaaaaa': 1,
         'Aaaaaa Aaaaaaa Aaaaaaaaaaa': 1,
         'Aaaaaaa A. Aaaaaaaaaaa': 1,
         'Aaaaaa Aaaaaa Aaaaa': 1,
         'Aaaaaa Aaaaaaa Aaaaaa': 1,
         'Aaaaaaaa Aaaaaa Aaaaaaa': 1,
         'Aaaa Aaaaaa Aaaaaaa': 1,
         'Aaaaaa Aaaaaaaa Aaaaa aa Aaaaa': 1,
         'Aaaa Aaaaaaa Aaaaaaa': 1})

In [6]:
etl.stringpatterns(basketball_data, 'birthCountry')

+---------+-------+--------------------+
| pattern | count | frequency          |
+=========+=======+====================+
| 'AAA'   |  3901 | 0.7707962853191069 |
+---------+-------+--------------------+
| 'aaa'   |  1160 | 0.2292037146808931 |
+---------+-------+--------------------+

####  search any field
- e.g. Alaa Abdelnaby played was born in Egypt but went to high school in the US. His hsCountry field is USA, so he shows up in the search results

In [7]:
search_USA = etl.search(basketball_data, 'USA')

In [8]:
search_USA

+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName       | nameGiven | fullGivenName                   | nameSuffix | nameNick            | pos   | firstseason | lastseason | height | weight | college           | collegeOther        | birthDate  | birthCity    | birthState | birthCountry | highSchool          | hsCity                  | hsState   | hsCountry | deathDate    | race |
+=============+===========+===========+============+================+===========+=================================+============+=====================+=======+=============+============+========+========+===================+=====================+============+==============+============+==============+=====================+=========================+===========+===========+==============+======+
| 'abdelal01' | 'Alaa'    | 'Alaa'    |        nan | 'Abdelnaby'    |       nan |                             nan |        nan |                 nan | 'F-C' |         0.0 |        0.0 |   82.0 |  240.0 | 'Duke'            |                 nan | '24/06/68' | 'Cairo'      |        nan | 'EGY'        | 'Bloomfield Senior' | 'Bloomfield'            | 'NJ'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulka01' | 'Kareem'  | 'Kareem'  |        nan | 'Abdul-Jabbar' |       nan | 'Ferdinand Lewis Alcindor, Jr.' |        nan | 'Lew, Cap'          | 'C'   |         0.0 |        0.0 |   85.0 |  225.0 | 'UCLA'            |                 nan | '16/04/47' | 'New York'   | 'NY'       | 'USA'        | 'Power Memorial'    | 'New York'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma01' | 'Mahdi'   | 'Mahdi'   |        nan | 'Abdul-Rahman' |       nan | 'Walter Raphael Hazzard, Jr.'   |        nan | 'Walt'              | 'G'   |         0.0 |        0.0 |   74.0 |  185.0 | 'UCLA'            | 'Santa Monica City' | '15/04/42' | 'Wilmington' | 'DE'       | 'USA'        | 'Overbrook / Moton' | 'Philadelphia / Easton' | 'PA / MD' | 'USA'     | '18/11/11'   | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma02' | 'Mahmoud' | 'Mahmoud' |        nan | 'Abdul-Rauf'   |       nan | 'Chris Wayne Jackson'           |        nan |                 nan | 'G'   |         0.0 |        0.0 |   73.0 |  162.0 | 'Louisiana State' |                 nan | '09/03/69' | 'Gulfport'   | 'MS'       | 'USA'        | 'Gulfport'          | 'Gulfport'              | 'MS'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulza01' | 'Zaid'    | 'Zaid'    |        nan | 'Abdul-Aziz'   |       nan | 'Donald A. Smith'               |        nan | 'Don, The Kangaroo' | 'C-F' |         0.0 |        0.0 |   81.0 |  230.0 | 'Iowa State'      |                 nan | '07/04/46' | 'Brooklyn'   | 'NY'       | 'USA'        | 'John Jay'          | 'Brooklyn'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+--------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
...

In [9]:
players_from_UCLA = etl.search(basketball_data, 'UCLA')

In [10]:
players_from_UCLA

+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName       | nameGiven | fullGivenName                   | nameSuffix | nameNick   | pos | firstseason | lastseason | height | weight | college | collegeOther        | birthDate  | birthCity     | birthState | birthCountry | highSchool          | hsCity                  | hsState   | hsCountry | deathDate    | race |
+=============+===========+===========+============+================+===========+=================================+============+============+=====+=============+============+========+========+=========+=====================+============+===============+============+==============+=====================+=========================+===========+===========+==============+======+
| 'abdulka01' | 'Kareem'  | 'Kareem'  |        nan | 'Abdul-Jabbar' |       nan | 'Ferdinand Lewis Alcindor, Jr.' |        nan | 'Lew, Cap' | 'C' |         0.0 |        0.0 |   85.0 |  225.0 | 'UCLA'  |                 nan | '16/04/47' | 'New York'    | 'NY'       | 'USA'        | 'Power Memorial'    | 'New York'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma01' | 'Mahdi'   | 'Mahdi'   |        nan | 'Abdul-Rahman' |       nan | 'Walter Raphael Hazzard, Jr.'   |        nan | 'Walt'     | 'G' |         0.0 |        0.0 |   74.0 |  185.0 | 'UCLA'  | 'Santa Monica City' | '15/04/42' | 'Wilmington'  | 'DE'       | 'USA'        | 'Overbrook / Moton' | 'Philadelphia / Easton' | 'PA / MD' | 'USA'     | '18/11/11'   | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'allenlu01' | 'Lucius'  | 'Lucius'  | 'Oliver'   | 'Allen'        |       nan |                             nan | 'Jr.'      |        nan | 'G' |         0.0 |        0.0 |   74.0 |  175.0 | 'UCLA'  |                 nan | '26/09/47' | 'Kansas City' | 'KS'       | 'USA'        | 'Wyandotte'         | 'Kansas City'           | 'KS'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'allumda01' | 'Darrell' | 'Darrell' | 'Wilbert'  | 'Allums'       |       nan |                             nan | 'Jr.'      |        nan | 'F' |         0.0 |        0.0 |   80.5 |  220.0 | 'UCLA'  |                 nan | '12/09/58' | 'Los Angeles' | 'CA'       | 'USA'        | 'Lynwood'           | 'Lynwood'               | 'CA'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
| 'arizatr01' | 'Trevor'  | 'Trevor'  | 'Anthony'  | 'Ariza'        |       nan |                             nan |        nan |        nan | 'F' |         0.0 |        0.0 |   79.0 |  194.0 | 'UCLA'  |                 nan | '30/06/85' | 'Miami'       | 'FL'       | 'USA'        | 'Westchester'       | 'Los Angeles'           | 'CA'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-----+-------------+------------+--------+--------+---------+---------------------+------------+---------------+------------+--------------+---------------------+-------------------------+-----------+-----------+--------------+------+
...

#### search a specific field

#### Count the number of occurrences of value under the given field. Returns the absolute count and relative frequency as a pair

In [12]:
etl.valuecount(basketball_data, 'nameSuffix', 'Jr.')

(257, 0.05078047816637028)

In [13]:
search_name_suffix = etl.search(basketball_data, 'nameSuffix', 'Jr.')

In [14]:
search_name_suffix

+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName    | nameGiven | fullGivenName | nameSuffix | nameNick | pos   | firstseason | lastseason | height | weight | college   | collegeOther | birthDate  | birthCity     | birthState | birthCountry | highSchool     | hsCity        | hsState | hsCountry | deathDate    | race |
+=============+===========+===========+============+=============+===========+===============+============+==========+=======+=============+============+========+========+===========+==============+============+===============+============+==============+================+===============+=========+===========+==============+======+
| 'abramjo01' | 'John'    | 'John'    |        nan | 'Abramovic' |       nan |           nan | 'Jr.'      | 'Brooms' | 'F'   |         0.0 |        0.0 |   75.0 |  195.0 | 'Salem'   |          nan | '09/02/19' | 'Etna'        | 'PA'       | 'USA'        | 'Etna'         | 'Etna'        | 'PA'    | 'USA'     | '09/06/00'   | 'W'  |
+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
| 'allenlu01' | 'Lucius'  | 'Lucius'  | 'Oliver'   | 'Allen'     |       nan |           nan | 'Jr.'      |      nan | 'G'   |         0.0 |        0.0 |   74.0 |  175.0 | 'UCLA'    |          nan | '26/09/47' | 'Kansas City' | 'KS'       | 'USA'        | 'Wyandotte'    | 'Kansas City' | 'KS'    | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
| 'allisod01' | 'Odis'    | 'Odis'    |        nan | 'Allison'   |       nan |           nan | 'Jr.'      |      nan | 'F'   |         0.0 |        0.0 |   78.0 |  195.0 | 'UNLV'    | 'Laney JC'   | '02/10/49' |           nan |        nan |          nan | 'McClymonds'   | 'Oakland'     | 'CA'    | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
| 'allumda01' | 'Darrell' | 'Darrell' | 'Wilbert'  | 'Allums'    |       nan |           nan | 'Jr.'      |      nan | 'F'   |         0.0 |        0.0 |   80.5 |  220.0 | 'UCLA'    |          nan | '12/09/58' | 'Los Angeles' | 'CA'       | 'USA'        | 'Lynwood'      | 'Lynwood'     | 'CA'    | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
| 'anderwi01' | 'Willie'  | 'Willie'  | 'Lloyd'    | 'Anderson'  |       nan |           nan | 'Jr.'      | 'Chill'  | 'G-F' |         0.0 |        0.0 |   79.0 |  190.0 | 'Georgia' |          nan | '08/01/67' | 'Greenville'  | 'SC'       | 'USA'        | 'East Atlanta' | 'Atlanta'     | 'GA'    | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+-------------+-----------+---------------+------------+----------+-------+-------------+------------+--------+--------+-----------+--------------+------------+---------------+------------+--------------+----------------+---------------+---------+-----------+--------------+------+
...

In [15]:
search_name_suffix.nrows()

257

#### Perform a regular expression search, returning rows that do not match a given pattern, either anywhere in the row or within a specific field

In [16]:
search_except_USA = etl.searchcomplement(basketball_data, 'USA')

In [17]:
search_except_USA

+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
| bioID       | useFirst   | firstName  | middleName | lastName          | nameGiven | fullGivenName                | nameSuffix | nameNick | pos   | firstseason | lastseason | height | weight | college          | collegeOther         | birthDate  | birthCity        | birthState | birthCountry | highSchool              | hsCity      | hsState | hsCountry | deathDate    | race |
+=============+============+============+============+===================+===========+==============================+============+==========+=======+=============+============+========+========+==================+======================+============+==================+============+==============+=========================+=============+=========+===========+==============+======+
| 'abdulta01' | 'Tariq'    | 'Tariq'    |        nan | 'Abdul-Wahad'     |       nan | 'Olivier Michael Saint-Jean' |        nan |      nan | 'G-F' |         0.0 |        0.0 |   78.0 |  223.0 | 'San Jose State' | 'Michigan'           | '03/11/74' | 'Maisons Alfort' |        nan | 'FRA'        | 'Lycee Aristide Briand' | 'Evreux'    |     nan | 'FRA'     | '0000-00-00' | 'B'  |
+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
| 'alumape01' | 'Peter'    | 'Peter'    |        nan | 'Aluma'           |       nan |                          nan |        nan |      nan | 'C'   |         0.0 |        0.0 |   82.0 |  260.0 | 'Liberty'        |                  nan | '23/04/73' | 'Agbe, Lagos'    |        nan | 'NGR'        | 'Okota Grammar School'  | 'Isolo'     |     nan | 'NGR'     | '0000-00-00' | 'B'  |
+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
| 'andrima01' | 'Martynas' | 'Martynas' |        nan | 'Andriuskevicius' |       nan |                          nan |        nan | 'Marty'  | 'C'   |         0.0 |        0.0 |   86.0 |  240.0 | 'none'           |                  nan | '12/03/86' | 'Kaunas'         |        nan | 'LTU'        |                     nan |         nan |     nan |       nan | '0000-00-00' | 'W'  |
+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
| 'araujra01' | 'Rafael'   | 'Rafael'   | 'Paulo'    | 'Araujo'          |       nan |                          nan |        nan |      nan | 'C'   |         0.0 |        0.0 |   83.0 |  290.0 | 'Brigham Young'  | 'Arizona Western JC' | '12/08/80' | 'Curitiba'       |        nan | 'BRA'        | 'Padre Anacleto'        | 'Sao Paulo' |     nan | 'BRA'     | '0000-00-00' | 'W'  |
+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
| 'asikom01'  | 'Omer'     | 'Omer'     | 'Faruk'    | 'Asik'            |       nan |                          nan |        nan |      nan | 'C-F' |         0.0 |        0.0 |   84.0 |  255.0 | 'none'           |                  nan | '04/07/86' | 'Bursa'          |        nan | 'TUR'        |                     nan |         nan |     nan |       nan | '0000-00-00' | 'W'  |
+-------------+------------+------------+------------+-------------------+-----------+------------------------------+------------+----------+-------+-------------+------------+--------+--------+------------------+----------------------+------------+------------------+------------+--------------+-------------------------+-------------+---------+-----------+--------------+------+
...

In [20]:
search_except_USA.nrows()

741

#### Find distinct values for the given field and count the number of occurrences. Returns a dict mapping values to counts

In [21]:
etl.valuecounter(basketball_data, 'college')

Counter({'Duke': 56,
         'UCLA': 80,
         'Louisiana State': 33,
         'San Jose State': 8,
         'Iowa State': 20,
         'Western Kentucky': 33,
         'Salem': 1,
         'Pepperdine': 19,
         'Oral Roberts': 8,
         'Oklahoma': 25,
         'Gardner-Webb': 3,
         'Arizona': 41,
         'Boston College': 21,
         'Syracuse': 40,
         'Connecticut': 31,
         'Michigan State': 42,
         'DePaul': 53,
         'Morehead State': 8,
         'Fresno State': 21,
         'Kansas': 59,
         'Texas': 30,
         'Virginia': 16,
         'Jacksonville': 11,
         'Pennsylvania': 11,
         'Temple': 38,
         'Villanova': 40,
         'Miami (FL)': 10,
         'UNLV': 30,
         'Weber State': 8,
         'Rice': 16,
         'Duquesne': 33,
         'Liberty': 2,
         'Penn State': 11,
         'Southern Illinois': 13,
         'Wake Forest': 27,
         'Blinn CC': 1,
         'USC': 31,
         'Kentucky': 83,
         'Indiana': 67,
         'Oklahoma State': 19,
         'West Virginia': 16,
         'Drexel': 2,
         'Cal. St.-Santa Barbara': 4,
         'Georgia': 19,
         'none': 295,
         'Alabama': 26,
         'Brigham Young': 20,
         'Iowa State (dnp) ?': 1,
         'Illinois': 50,
         'Arizona ': 2,
         'Fayetteville State': 1,
         'Tulane': 14,
         'Memphis State': 16,
         'Arizona State': 26,
         'Seton Hall': 26,
         'Santa Clara': 13,
         'Nevada-Reno': 10,
         'Tennessee Tech': 3,
         'Tuskegee': 3,
         'Rutgers': 11,
         'North Carolina State': 41,
         'Hawaii': 8,
         'Ohio State': 51,
         'South Carolina': 22,
         'UNC-Charlotte': 5,
         'Los Angeles State': 4,
         'Auburn': 19,
         "St. John's (NY)": 59,
         'Northeastern': 5,
         'Providence': 26,
         'Tennessee State': 18,
         'Washington State': 18,
         'Kansas State': 23,
         'Memphis': 11,
         'Oregon State': 24,
         'Georgia Tech': 39,
         'Michigan ': 2,
         'Cincinnati': 32,
         'Maryland': 39,
         'Seattle': 13,
         'Tennessee': 34,
         'State Academy of Phys Ed.': 1,
         'North Dakota': 6,
         'Texas A&M': 10,
         'Prairie View A&M': 2,
         'Arkansas': 27,
         'Bradley': 21,
         'Drake': 16,
         'Florida International': 2,
         'Notre Dame': 71,
         'Oakland': 1,
         'Utah': 27,
         'Colorado': 18,
         'North Carolina A&T': 6,
         'Indiana State': 12,
         'Houston': 30,
         'Wisconsin': 43,
         'Dartmouth': 10,
         "St. Joseph's (PA)": 17,
         'Holy Cross': 9,
         'Pittsburgh': 23,
         'Auburn-Montgomery': 2,
         'Bridgeport': 1,
         'Minnesota': 47,
         'St. Louis': 13,
         'Missouri': 33,
         'Clemson': 15,
         'Stanford': 27,
         'Georgetown': 35,
         'Cal. State-Fullerton': 4,
         'Iowa': 37,
         'Detroit': 23,
         'Boston University': 5,
         'Eastern Michigan': 11,
         'San Francisco': 24,
         'Texas Southern': 4,
         'Wyoming': 24,
         'North Carolina': 64,
         'Xavier (OH)': 16,
         'Colgate': 5,
         'Toledo': 31,
         'Virginia Tech': 12,
         'Johnson C. Smith': 1,
         'Michigan': 48,
         'Southwestern Louisiana': 5,
         'California-Irvine': 6,
         'Texas-San Antonio': 2,
         'Indian Hills CC': 1,
         'Wayne State (MI)': 2,
         'Evansville': 10,
         'Murray State': 13,
         'Idaho': 5,
         'New Mexico State': 10,
         'Mississippi State': 11,
         'McNeese State': 5,
         'Marquette': 47,
         'Manhattan': 10,
         'SW Texas State': 1,
         'Jackson State': 14,
         'Columbia': 6,
         'Creighton': 14,
         'Louisville': 48,
         'Memphis ': 5,
         'LaSalle': 22,
         'Vanderbilt': 16,
         'LIU': 29,
         'San Diego State': 6,
         'Lamar': 3,
         'Massachusetts': 7,
         'UTEP': 12,
         'South Carolina State': 2,
         'Purdue': 45,
         'California': 28,
         'Otterbein': 4,
         'Wichita State': 8,
         'Texas Tech': 13,
         'St. Bonaventure': 15,
         'Bowling Green': 18,
         'California-Riverside': 1,
         'Hardin-Simmons': 1,
         'South Alabama': 4,
         'Cal. State- Fullerton': 1,
         'Xavier': 5,
         'Gonzaga': 9,
         'West Texas State': 7,
         'Boise State': 4,
         'Grambling': 12,
         'Mississippi': 8,
         'Central Connecticut State': 2,
         'Houston Baptist': 1,
         'Cleveland State': 5,
         'Florida State': 30,
         'UNC - Charlotte': 2,
         'Illinois ': 2,
         'Portland': 7,
         "St. Mary's (CA)": 6,
         'New Mexico   ': 1,
         'Georgia State': 1,
         'Long Beach State': 20,
         'Mount San Antonio': 1,
         'George Washington': 13,
         'Virginia Commonwealth': 6,
         'Oklahoma Baptist': 4,
         'Delaware State': 1,
         'Dayton': 18,
         'North Carolina College': 2,
         'Old Dominion': 8,
         'Virginia Union': 7,
         'North Texas State': 4,
         'Northern Illinois': 5,
         'Florida': 21,
         'Pacific': 6,
         "King's (DE)": 1,
         'Lawrence Tech': 3,
         'Washington': 28,
         'Morris-Harvey': 2,
         'Arkansas State': 3,
         'Voorhees': 1,
         'LeMoyne-Owen': 2,
         'Valparaiso': 9,
         'Eastern Illinois': 2,
         'Missouri-Kansas City': 1,
         'New Orleans': 7,
         'Kent State': 3,
         'Oklahoma A&M': 10,
         'American International': 1,
         'Morehouse': 1,
         'Miami (OH)': 10,
         'Akron': 9,
         'Rhode Island': 13,
         'Northwestern': 23,
         'Southern California': 9,
         'Arkansas-Little Rock': 5,
         'Canisius': 18,
         'Maryland State': 3,
         'Mississippi Valley State': 1,
         'Grand Canyon': 2,
         'Guilford': 4,
         'Bethune-Cookman': 3,
         'Fairfield': 2,
         'Loyola Marymount': 4,
         'NE Missouri State': 2,
         'DePauw': 2,
         'SW Missouri State': 4,
         'Augsburg (MN)': 1,
         'Montana State': 1,
         'Fort Valley State': 1,
         'Alabama A&M': 1,
         'Akademik Varna  (BUL)': 1,
         'Charleston': 1,
         'St. Mary of the Plains': 2,
         'Ohio University': 14,
         'New Mexico  ': 1,
         'Kentucky State': 7,
         'Oklahoma City': 8,
         'Hampton': 1,
         'Louisiana-Lafayette': 1,
         'Iona': 5,
         'Southern': 4,
         'Detroit Mercy': 2,
         'Oregon': 21,
         'California Western': 1,
         'Idaho State': 7,
         'Western Michigan': 11,
         'Loyola (CA)': 3,
         'Minnesota-Duluth': 2,
         'Utah State': 13,
         'Franklin (IN)': 1,
         'Pittsburgh (DNP)': 1,
         'Tulsa': 14,
         'New Mexico': 11,
         'Richmond': 4,
         'Pfeiffer': 1,
         'Austin Peay': 7,
         'Illinois State': 4,
         'Butler': 14,
         'Acadia': 1,
         'Davidson': 6,
         'Princeton': 9,
         'Winston-Salem State': 5,
         'Texas Baptist': 1,
         'Southern Methodist': 9,
         'Central Michigan': 8,
         'Loyola (IL)': 21,
         'Colorado State': 9,
         'Saint Louis': 1,
         'Thomas More': 1,
         'Texas ': 2,
         'Alabama-Birmingham': 7,
         'Butler Co CC (DNP)': 1,
         "St. Mary's (TX)": 2,
         'Florida A&M': 6,
         'Midland': 1,
         'Wisconsin-Parkside': 1,
         'Indiana ': 1,
         'Hofstra': 5,
         'William Paterson': 2,
         'East Tennessee State': 3,
         'College of Charleston': 1,
         'UAB': 1,
         'Nebraska': 17,
         'Stephen F. Austin': 1,
         'Dillard': 2,
         'Cal. St.- San Bernardino': 1,
         'East Texas State': 5,
         'Tampa': 1,
         'Albany State (GA)': 5,
         'South Florida': 5,
         'District of Columbia': 1,
         'Central Florida': 2,
         'St. Rose': 1,
         'Kentucky (dnp)': 1,
         'NYU': 23,
         'Lincoln (MO)': 4,
         'Trinity Valley CC (DNP)': 1,
         'East Carolina': 3,
         'Longwood': 1,
         'Alcorn A&M': 2,
         'Southern Mississippi': 5,
         'Middle Tennessee State': 2,
         'Northeast Louisiana': 5,
         'Western Carolina': 6,
         'Nicholls State': 1,
         'Kearney State': 2,
         'Culver Stockton': 1,
         'Augustana (SD)': 1,
         'Montana': 3,
         'North Carolina  ': 8,
         'Central State (OH)': 2,
         "St. Peter's": 5,
         'Towson State': 1,
         'Campbell JC': 1,
         'San Diego St.': 2,
         'Seward County CC': 1,
         'Harvard': 3,
         'West Virginia State': 3,
         'Alabama State': 2,
         'Wilberforce': 2,
         'CCNY': 6,
         'Louisiana Tech': 7,
         'Oakland (MI)': 1,
         'Furman': 2,
         'Northwest Louisiana': 1,
         'Cal State - Northridge': 1,
         'SMU': 4,
         'TCU': 5,
         'Eastern Montana': 1,
         'Miles': 1,
         'Kiev Institute of Physical Culture': 1,
         'George Mason': 3,
         'Sam Houston State': 3,
         'Youngstown State': 1,
         'Lewis': 1,
         'Pan American': 6,
         'New Mexico Mines': 1,
         'Cal. State - Fullerton': 3,
         'Delta State': 4,
         'Cluj University (ROM)': 1,
         'Niagara': 14,
         'Shaw': 1,
         'Texas Christian': 2,
         'Towson': 1,
         "St. Joseph's": 4,
         'NW Oklahoma State': 1,
         'Centenary': 4,
         'The Masters College': 1,
         'Southwest Missouri': 1,
         'Zagreb': 1,
         'Northwood Institute': 1,
         'Southern (LA)': 1,
         'Central Arkansas': 1,
         'Whitworth': 3,
         'Norfolk State': 4,
         'St. Francis (PA)': 5,
         'Wisconsin-Stevens Point': 3,
         'Tennessee A&I': 3,
         'Wright State': 2,
         'Utah Valley State': 1,
         'Barton County CC': 1,
         'Bethel (TN)': 1,
         'Navy': 1,
         'Virginia ': 1,
         'SE Oklahoma State': 1,
         'Potsdam State': 1,
         'UNC-Wilmington': 2,
         'Cal Poly-Pomona': 1,
         'Xavier (LA)': 4,
         'LeMoyne?': 1,
         'Yonsei U.  KOR': 1,
         'Cal. State-Santa Barbara': 1,
         'Dakota Wesleyan': 1,
         'Illinois Wesleyan': 2,
         'Stephen F. Austin State': 1,
         'Augusta State': 1,
         'Baylor': 8,
         'Marshall': 14,
         'Applachian State': 1,
         'Southeastern Illinois': 1,
         'Eastern Kentucky': 9,
         'Southern Colorado': 1,
         'Alcorn State': 2,
         'Louisiana-Monroe': 1,
         'Kentucky Wesleyan': 6,
         'Ball State': 4,
         'Marist': 1,
         'Cal State-Fullerton': 2,
         'Northern Arizona': 3,
         'Howard': 2,
         'Villa Madonna': 2,
         'Cal. State - Bakersfield': 1,
         'Coppin State': 1,
         'Midwestern State': 3,
         'Augustana': 1,
         'Brigham Young - Hawaii': 1,
         'Tennessee-Chattanooga': 5,
         'West Virginia Tech': 2,
         'James Madison': 1,
         'Nevada Southern': 1,
         'California  Berkeley': 1,
         'Santa Barbara': 1,
         'Phillips': 1,
         'Siena': 2,
         'Portland State': 2,
         'Wisconsin-Green Bay': 3,
         'Azusa Pacific': 1,
         'Trabara Univ. (BRA)': 1,
         'Kiev Institute': 1,
         'American': 2,
         'Morgan State': 1,
         'William & Mary': 1,
         'Walsh': 1,
         'Winston-Salem': 2,
         'Stetson': 2,
         'North Carolina ': 5,
         'Baltimore': 1,
         'Southern University': 2,
         'Averett': 1,
         'Friendship JC': 1,
         'NE Mississippi CC': 1,
         'Texas Western': 4,
         'Hillsdale (MI)': 1,
         'Augsburg': 1,
         'California (PA)': 2,
         'Fordham': 12,
         'Hartford': 1,
         'St. Augustine': 1,
         'Charlotte': 1,
         'West Virginia ': 1,
         'Denver': 11,
         'Assumption (ONT)': 1,
         'Monmouth College': 1,
         'South Dakota State': 2,
         'Florida  ': 1,
         'Cheyney State': 6,
         'Muhlenberg': 2,
         'Elon': 1,
         'West Virginia Wesleyan': 2,
         'Humboldt State': 1,
         'Okaloosa-Walton CC': 1,
         'Slippery Rock': 1,
         'Pikeville': 1,
         'San Francisco City': 1,
         'Rockhurst': 1,
         'Southern California College         ': 1,
         "Mount St. Mary's": 3,
         'VMI': 2,
         'San Francisco   ': 1,
         'Ohio Wesleyan': 5,
         'Biscayne': 1,
         'Bloomsburg State': 1,
         'Maine': 1,
         'Westminster (UT)': 1,
         'New Mexico ': 1,
         'Wisconsin River Falls': 1,
         'Rochester': 2,
         'Clark (GA)': 2,
         'New Mexico Highlands': 1,
         'Belmont Abbey': 1,
         'Montevallo': 1,
         'Yale': 3,
         'William and Mary': 2,
         'Lemoyne-Owen': 1,
         'Southeast Missouri': 1,
         'Hamline': 9,
         'Cornell': 5,
         'Illinois-Chicago': 1,
         'Southwest Texas State': 1,
         'Brooklyn': 3,
         'BYU': 1,
         'Elizabeth City State': 1,
         'SC-Spartanburg': 1,
         'Gannon': 1,
         'Trenton State': 1,
         'Brown': 2,
         'North Park': 1,
         'Wingate': 1,
         'Iowa  (dnp)': 1,
         'Arkansas AM&N': 1,
         'Mount Union': 3,
         'Ashland': 1,
         'Northern Colorado': 1,
         'Queens': 1,
         'Springfield': 1,
         'Eastern New Mexico': 1,
         'Washington & Jefferson': 7,
         'Bemidji State': 1,
         'Aurora': 1,
         'Huntington': 1,
         'Assumption': 1,
         'John Marshall': 2,
         'Rider': 2,
         'Western Reserve': 1,
         'Tennessee State (DNP)': 1,
         'High Point': 1,
         'Yankton': 1,
         'Puget Sound': 1,
         'St. Francis (NY)': 1,
         'Hampton Institute': 1,
         'Davis & Elkins': 1,
         'State Univ. of Vilnius (LTU)': 1,
         'Central Missouri': 1,
         'Savannah State': 1,
         'North Carolina   ': 1,
         'Hiram Scott': 2,
         'Mercer (GA)': 1,
         'Loyola (MD)': 2,
         'Wofford': 1,
         'West Florida': 1,
         'Beloit': 2,
         'East Central Oklahoma': 1,
         'Maryland Eastern Shore': 1,
         'Westminister (PA)': 2,
         'Lebanon Valley': 1,
         'Texas Wesleyan': 3,
         'Ouachita Baptist': 1,
         'NE Oklahoma State': 2,
         'Buffalo State': 2,
         'Wheaton': 1,
         'New Mexico A&M': 1,
         'Eau Claire State': 1,
         'CCNY (DNP)': 1,
         'Georgia Southern': 3,
         'St. Vincent': 1,
         'LeMoyne (NY)': 1,
         'Wisconsin (freshman)': 1,
         'Kirksville State': 1,
         'Catholic': 1,
         'Army': 1,
         'Benedict': 1,
         'MarylandEasternShore': 1,
         'Kenyon': 1,
         'Canterbury': 1,
         'Christopher Newport': 1,
         'College of Pacific': 2,
         "St. Mary's (MN)": 1,
         'West Georgia': 1,
         'Millersville St. (PA)': 1,
         'Scranton': 2,
         'Florida ': 1,
         'San Diego': 3,
         'Wichita': 1,
         'California Poly': 1,
         'Elizabeth City State(DNP)': 1,
         'West Virginia  ': 1,
         'Hanover': 1,
         'Southwest Louisiana': 1,
         'DeKalb Teachers': 1,
         'Australian Institute of Sport': 1,
         'Glenville State': 1,
         'Kansas ': 1,
         'Kentucky (DNP)': 2,
         'Northwestern State': 1,
         'Pittsburgh ': 1,
         'IUPUI': 1,
         'Tennessee-Martin': 1,
         'Robert Morris': 1,
         'Kansas Wesleyan': 1,
         "St. Mary's": 2,
         'Meridian CC': 1,
         'University Braca Karic': 1,
         'Central Oklahoma': 2,
         'Jacksonville State': 1,
         'Eastern Washington': 2,
         'LSU': 2,
         'Virginia Military Institute': 1,
         'UPAEP-Mexico': 1,
         'Cal-State Fullerton': 1,
         'Oklahoma St. Teachers': 1,
         'none?': 2,
         'Western Illinois': 2,
         'Gallagher Business': 2,
         'Denison': 1,
         nan: 178,
         'Augustana (IL)': 1,
         'Bay City JC': 1,
         'Murray State JC': 1,
         'Wisconsin-Oshkosh': 3,
         'Rochester Tech': 1,
         'Westminster (PA)': 2,
         'Oklahoma Baptist (JC)': 1,
         'St. Viator': 2,
         'Earlham': 2,
         "St. Joseph's (IN)": 1,
         'Morningside': 1,
         'Rhode Island State': 1,
         'Milwaukee State Teachers': 3,
         'Alma': 1,
         'Case Reserve': 3,
         'Buffalo': 2,
         'Baldwin-Wallace': 2,
         'Indiana Central': 4,
         'Knoxville': 3,
         'Pacific Lutheran': 1,
         'South Dakota': 2,
         'Centre College': 1,
         'Simpson': 2,
         'Eastern Kentucky State': 1,
         'Gallagher Business School': 6,
         'Loyola (LA)': 2,
         'NW Missouri State': 2,
         'College of the Pacific': 1,
         'Wisconsin-Superior': 1,
         'SE Oklahoma Teachers': 1,
         'Wayne State': 3,
         'Missouri Valley': 1,
         'Rio Grande': 1,
         'Wooster': 1,
         'Wisconsin-Stevens Pt.': 1,
         'St. Thomas': 2,
         'St. Marys (CA)': 1,
         'Central Missouri State': 3,
         'Geneva': 2,
         'Alderson-Broaddus': 1,
         'Northwestern (DNP)': 1,
         'Chicago': 5,
         'Bucknell': 1,
         'Drury (MO)': 2,
         'Maryville State  (NW Missouri)': 1,
         'Mississippi College': 1,
         'Edinboro': 3,
         'Morris Brown': 1,
         'Maryville Teachers': 1,
         'Carnegie-Mellon': 1,
         'York JC': 2,
         'Southeastern Louisiana': 1,
         'Wisconsin-Milwaukee': 2,
         'Monmouth': 2,
         'Burlington JC': 1,
         'Carroll (WI)': 2,
         'Ohio College of Chiropody': 1,
         'Dubuque': 1,
         'Loras': 2,
         'Southern Illinois ??': 1,
         "St. Viator's": 1,
         'Muskingum': 1,
         'Capital': 2,
         'Mt. Union': 1,
         'Pittsburg State': 1,
         'Cortland State': 1,
         'Los Angeles CC': 1,
         'Defiance': 1,
         'Southwestern (KS)': 1,
         'Western State (CO)': 2,
         'Cal-Santa Barbara': 1,
         'Pasadena City': 1,
         'Appalachian State': 1,
         'Carleton': 1,
         'St. Benedicts': 1,
         'Nevada': 1,
         'College of Idaho': 1,
         'William Penn': 1,
         'East Stroudsburg': 1,
         'Indiana?': 1,
         'Alabama State / Toledo ??': 1,
         'Wittenberg': 3,
         'Southeastern': 1,
         'Drury College': 1,
         'Northwestern Louisiana': 1,
         'Carnegie Tech': 2,
         "St. Benedict's": 1,
         'Emory & Henry': 1,
         'Bethany (WV)': 1,
         'Ripon': 1,
         'Findlay': 1,
         'Indiana (dnp?)': 1,
         'Carson-Newman': 1,
         'Brooklyn College': 1,
         'Tufts': 1,
         'DeSales': 1,
         'Hastings College': 1,
         'Tri-State (JC)': 1,
         'Central Norman': 1,
         'Heidelberg': 1,
         'DePaul (freshman)': 1,
         'Washington&Jefferson': 1,
         'Hope': 1,
         'Bloomsburg Univ. of Pennsylvania': 1,
         'Coe College': 1,
         'Montclair State': 1,
         'Milligan College': 1,
         'Kennedy College': 1,
         'Bellarmine': 1,
         'Loyola University': 1,
         'Salem State': 1,
         'Nazareth': 1,
         'State Univ. of New York (Brockport)': 1,
         'Loyola University, Los Angeles': 1})

In [22]:
college_except_duke = etl.searchcomplement(basketball_data, 'college', 'Duke')

In [23]:
college_except_duke

+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName       | nameGiven | fullGivenName                   | nameSuffix | nameNick            | pos   | firstseason | lastseason | height | weight | college           | collegeOther        | birthDate  | birthCity        | birthState | birthCountry | highSchool              | hsCity                  | hsState   | hsCountry | deathDate    | race |
+=============+===========+===========+============+================+===========+=================================+============+=====================+=======+=============+============+========+========+===================+=====================+============+==================+============+==============+=========================+=========================+===========+===========+==============+======+
| 'abdulka01' | 'Kareem'  | 'Kareem'  |        nan | 'Abdul-Jabbar' |       nan | 'Ferdinand Lewis Alcindor, Jr.' |        nan | 'Lew, Cap'          | 'C'   |         0.0 |        0.0 |   85.0 |  225.0 | 'UCLA'            |                 nan | '16/04/47' | 'New York'       | 'NY'       | 'USA'        | 'Power Memorial'        | 'New York'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma01' | 'Mahdi'   | 'Mahdi'   |        nan | 'Abdul-Rahman' |       nan | 'Walter Raphael Hazzard, Jr.'   |        nan | 'Walt'              | 'G'   |         0.0 |        0.0 |   74.0 |  185.0 | 'UCLA'            | 'Santa Monica City' | '15/04/42' | 'Wilmington'     | 'DE'       | 'USA'        | 'Overbrook / Moton'     | 'Philadelphia / Easton' | 'PA / MD' | 'USA'     | '18/11/11'   | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma02' | 'Mahmoud' | 'Mahmoud' |        nan | 'Abdul-Rauf'   |       nan | 'Chris Wayne Jackson'           |        nan |                 nan | 'G'   |         0.0 |        0.0 |   73.0 |  162.0 | 'Louisiana State' |                 nan | '09/03/69' | 'Gulfport'       | 'MS'       | 'USA'        | 'Gulfport'              | 'Gulfport'              | 'MS'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulta01' | 'Tariq'   | 'Tariq'   |        nan | 'Abdul-Wahad'  |       nan | 'Olivier Michael Saint-Jean'    |        nan |                 nan | 'G-F' |         0.0 |        0.0 |   78.0 |  223.0 | 'San Jose State'  | 'Michigan'          | '03/11/74' | 'Maisons Alfort' |        nan | 'FRA'        | 'Lycee Aristide Briand' | 'Evreux'                |       nan | 'FRA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulza01' | 'Zaid'    | 'Zaid'    |        nan | 'Abdul-Aziz'   |       nan | 'Donald A. Smith'               |        nan | 'Don, The Kangaroo' | 'C-F' |         0.0 |        0.0 |   81.0 |  230.0 | 'Iowa State'      |                 nan | '07/04/46' | 'Brooklyn'       | 'NY'       | 'USA'        | 'John Jay'              | 'Brooklyn'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+---------------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
...

#### Convenience function to convert values under the given field using a regular expression substitution

In [24]:
replace_pattern = etl.sub(basketball_data, 'college', 'Duke', 'Duke University')

In [25]:
replace_pattern

+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| bioID       | useFirst  | firstName | middleName | lastName       | nameGiven | fullGivenName                   | nameSuffix | nameNick   | pos   | firstseason | lastseason | height | weight | college           | collegeOther        | birthDate  | birthCity        | birthState | birthCountry | highSchool              | hsCity                  | hsState   | hsCountry | deathDate    | race |
+=============+===========+===========+============+================+===========+=================================+============+============+=======+=============+============+========+========+===================+=====================+============+==================+============+==============+=========================+=========================+===========+===========+==============+======+
| 'abdelal01' | 'Alaa'    | 'Alaa'    |        nan | 'Abdelnaby'    |       nan |                             nan |        nan |        nan | 'F-C' |         0.0 |        0.0 |   82.0 |  240.0 | 'Duke University' |                 nan | '24/06/68' | 'Cairo'          |        nan | 'EGY'        | 'Bloomfield Senior'     | 'Bloomfield'            | 'NJ'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulka01' | 'Kareem'  | 'Kareem'  |        nan | 'Abdul-Jabbar' |       nan | 'Ferdinand Lewis Alcindor, Jr.' |        nan | 'Lew, Cap' | 'C'   |         0.0 |        0.0 |   85.0 |  225.0 | 'UCLA'            |                 nan | '16/04/47' | 'New York'       | 'NY'       | 'USA'        | 'Power Memorial'        | 'New York'              | 'NY'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma01' | 'Mahdi'   | 'Mahdi'   |        nan | 'Abdul-Rahman' |       nan | 'Walter Raphael Hazzard, Jr.'   |        nan | 'Walt'     | 'G'   |         0.0 |        0.0 |   74.0 |  185.0 | 'UCLA'            | 'Santa Monica City' | '15/04/42' | 'Wilmington'     | 'DE'       | 'USA'        | 'Overbrook / Moton'     | 'Philadelphia / Easton' | 'PA / MD' | 'USA'     | '18/11/11'   | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulma02' | 'Mahmoud' | 'Mahmoud' |        nan | 'Abdul-Rauf'   |       nan | 'Chris Wayne Jackson'           |        nan |        nan | 'G'   |         0.0 |        0.0 |   73.0 |  162.0 | 'Louisiana State' |                 nan | '09/03/69' | 'Gulfport'       | 'MS'       | 'USA'        | 'Gulfport'              | 'Gulfport'              | 'MS'      | 'USA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
| 'abdulta01' | 'Tariq'   | 'Tariq'   |        nan | 'Abdul-Wahad'  |       nan | 'Olivier Michael Saint-Jean'    |        nan |        nan | 'G-F' |         0.0 |        0.0 |   78.0 |  223.0 | 'San Jose State'  | 'Michigan'          | '03/11/74' | 'Maisons Alfort' |        nan | 'FRA'        | 'Lycee Aristide Briand' | 'Evreux'                |       nan | 'FRA'     | '0000-00-00' | 'B'  |
+-------------+-----------+-----------+------------+----------------+-----------+---------------------------------+------------+------------+-------+-------------+------------+--------+--------+-------------------+---------------------+------------+------------------+------------+--------------+-------------------------+-------------------------+-----------+-----------+--------------+------+
...

#### Add one or more new fields with values generated by splitting an existing value around occurrences of a regular expression

In [26]:
split_values = etl.split(basketball_data, 'bioID', '0', ['name_code', 'id_no.'])

In [44]:
split_values

+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+
| useFirst | firstName | middleName | lastName   | nameGiven | fullGivenName | nameSuffix | nameNick | pos | firstseason | lastseason | height | weight | college | collegeOther | birthDate | birthCity | birthState | birthCountry | highSchool | hsCity | hsState | hsCountry | deathDate    | race | name_code | id_no. |
+==========+===========+============+============+===========+===============+============+==========+=====+=============+============+========+========+=========+==============+===========+===========+============+==============+============+========+=========+===========+==============+======+===========+========+
| 'Glen'   | 'Glen'    |        nan | 'Rose'     |       nan |           nan |        nan |      nan | nan |         nan |        nan |    nan |    nan |     nan |          nan |       nan |       nan |        nan |          nan |        nan |    nan |     nan |       nan | '0000-00-00' |  nan | 'rosegl'  | '1'    |
+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+
| 'Len'    | 'Len'     |        nan | 'Shepherd' |       nan |           nan |        nan |      nan | nan |         nan |        nan |    nan |    nan |     nan |          nan |       nan |       nan |        nan |          nan |        nan |    nan |     nan |       nan | '0000-00-00' |  nan | 'shephle' | '1'    |
+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+
| 'George' | 'George'  |        nan | 'Glammack' |       nan |           nan |        nan |      nan | nan |         nan |        nan |    nan |    nan |     nan |          nan |       nan |       nan |        nan |          nan |        nan |    nan |     nan |       nan | '0000-00-00' |  nan | 'glammge' | '1'    |
+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+
| 'Gene'   | 'Gene'    |        nan | 'Eurash'   |       nan |           nan |        nan |      nan | nan |         nan |        nan |    nan |    nan |     nan |          nan |       nan |       nan |        nan |          nan |        nan |    nan |     nan |       nan | '0000-00-00' |  nan | 'eurasge' | '1'    |
+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+
| 'Walt'   | 'Walt'    |        nan | 'Kolish'   |       nan |           nan |        nan |      nan | nan |         nan |        nan |    nan |    nan |     nan |          nan |       nan |       nan |        nan |          nan |        nan |    nan |     nan |       nan | '0000-00-00' |  nan | 'koliswa' | '1'    |
+----------+-----------+------------+------------+-----------+---------------+------------+----------+-----+-------------+------------+--------+--------+---------+--------------+-----------+-----------+------------+--------------+------------+--------+---------+-----------+--------------+------+-----------+--------+

In [33]:
nicknames_of_players = [['first name','nick names'],
                        ['Ferdinand Lewis Alcindor, Jr','Lew,Cap'],
                        ['Donald A. Smith','Don,The Kangaroo'],
                        ['Zelmo Beaty','Big Z,Mr. Clean'],
                        ['Daniel Edward Anderson', 'Dan,Danny']]

In [34]:
nicknames = etl.splitdown(nicknames_of_players, 'nick names', ',')

In [35]:
nicknames.displayall()

first name,nick names
"Ferdinand Lewis Alcindor, Jr",Lew
"Ferdinand Lewis Alcindor, Jr",Cap
Donald A. Smith,Don
Donald A. Smith,The Kangaroo
Zelmo Beaty,Big Z
Zelmo Beaty,Mr. Clean
Daniel Edward Anderson,Dan
Daniel Edward Anderson,Danny

In [36]:
players_personal_info = [['name', 'birth_place_year', 'birth_country'],
                         ['Larry Drew', 'KansasCity1958', 'USA'],
                         ['Adam Philip Harrington', 'Bernardston1980', 'USA'],
                         ['Elvin Hayes', 'Rayville1945', 'USA'],
                         ['Tyson Chandler', 'Hanford1982', 'USA'],
                         ['Blue Edwards', 'Washington1965', 'USA']]

In [37]:
capture_year = etl.capture(players_personal_info, 
                           'birth_place_year',
                           '(\w+)(\d+\d+\d+\d+)', 
                           ['birth_place', 'year'])

In [38]:
capture_year.display()

name,birth_country,birth_place,year
Larry Drew,USA,KansasCity,1958
Adam Philip Harrington,USA,Bernardston,1980
Elvin Hayes,USA,Rayville,1945
Tyson Chandler,USA,Hanford,1982
Blue Edwards,USA,Washington,1965

In [39]:
capture_year = etl.capture(players_personal_info, 
                           'birth_place_year', 
                           '(\w+)(\d+\d+\d+\d+)',
                           ['birth_place', 'year'], 
                           include_original = True)

In [40]:
capture_year.display()

name,birth_place_year,birth_country,birth_place,year
Larry Drew,KansasCity1958,USA,KansasCity,1958
Adam Philip Harrington,Bernardston1980,USA,Bernardston,1980
Elvin Hayes,Rayville1945,USA,Rayville,1945
Tyson Chandler,Hanford1982,USA,Hanford,1982
Blue Edwards,Washington1965,USA,Washington,1965

#### Unpacking compound values
- None values can be included. Missing values are treated as None

In [52]:
names_of_players = [['bioID', 'name'],
                    ['cheanca01', ['Calbert', 'Nathaniel', 'Cheaney']],
                    ['collija01', ['James', 'Edgar', 'Collins']],
                    ['evansea01', ['Earl', 'Joseph', 'Evans']],
                    ['rosegl01',  ['Glen', None, 'Rose']],
                    ['randy01',   ['Randy']]]

In [53]:
names = etl.unpack(names_of_players, 'name', ['first name', 'middle name', 'last name'])

In [54]:
names.display()

bioID,first name,middle name,last name
cheanca01,Calbert,Nathaniel,Cheaney
collija01,James,Edgar,Collins
evansea01,Earl,Joseph,Evans
rosegl01,Glen,None,Rose
randy01,Randy,None,None

In [55]:
dict_of_names = [['bioID', 'name'],
                 ['cheanca01', {'first_name':'Calbert', 'middle_name':'Nathaniel', 'last_name':'Cheaney'}],
                 
                 ['collija01', {'first_name':'James', 'middle_name':'Edgar', 'last_name':'Collins'}],
                 
                 ['evansea01', {'first_name':'Earl', 'middle_name':'Joseph', 'last_name':'Evans'}]]

In [56]:
names = etl.unpackdict(dict_of_names, 'name')

In [57]:
names.display()

bioID,first_name,last_name,middle_name
cheanca01,Calbert,Cheaney,Nathaniel
collija01,James,Collins,Edgar
evansea01,Earl,Evans,Joseph